.not-found {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ebf7ee;
    color: #333;
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: url("src/images/bg_404.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    user-select: none;
    
    
  }
  
  .content-box {
    position: relative;
    width: 400px;
    height: 450px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(8px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
  }
  .img_404{
    -webkit-user-drag: none;
  }
  .not-found p {
    font-size: 18px;
    color: #666;
  }
  
  .home-link {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
  }
  
  .home-link:hover {
    background-color: #45a049;
  }
  